*{
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* color: black; */
    /* background-image: url("https://img.freepik.com/premium-photo/calendar-page-close-up-blue-background-business-planning-appointment-meeting-concept_293060-976.jpg?w=996"); */
}
#logo{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
#logo>img{
    width: 40%;
    margin-bottom: -20px;
}
#from{
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 50px;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
#Googleimg{
    
    width: 5%;
padding-top: 5px;
padding-right: 10px;

}
#Microsoftimg{
    width: 4%;
padding-top: 5px;
padding-right: 10px;
}
#getstrat{
    width: 75%;
    padding: 15px;
    border-radius: 25px;
    border: none;
    background-color: rgb(87, 87, 255);
    color: white;
    font-size: 20px;
    cursor: pointer;
    
}
#getstrat:hover{
    background-color: rgb(77, 77, 221);
}
#Google{
    width: 75%;
    padding: 1px;
    border-radius: 25px;
    padding-bottom: 10px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}
#Google a{
    text-decoration: none;
    color: black;
}

#Google:hover{
    background-color:whitesmoke;
}
#Microsoft{
    width: 75%;
    padding: 1px;
    border-radius: 25px;
    padding-bottom: 10px;
    background-color: white;
    margin: 10px;
    cursor: pointer;
}
#Microsoft:hover{
    background-color:whitesmoke;
}
#email{
    width: 70%;
    padding: 1px;
    border-radius: 15px;
    height: 45px;
    font-size: 20px;
    padding-left: 20px;
    margin: 10px;
}
#password{
    width: 70%;
    padding: 1px;
    border-radius: 15px;
    height: 45px;
    font-size: 20px;
    padding-left: 20px;
    margin: 10px;
}
#from h4{
    padding-bottom: 100px;
    text-align: start;
    padding-left: 40px;
}
#name{
    width: 70%;
    padding: 1px;
    border-radius: 15px;
    height: 45px;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 80px;
}


#googlefont{
    color: aliceblue;
}
@media  (min-width:600px) and (max-width:1000px) {
    #form{
        width: 75%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    /* #name, #email, #password, #getstart, #Google, #Microsoft{
        width: 100px;

    } */
}